@{
    Layout = null;
    var versao = (string) ViewBag.Versao;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Portal - Web API</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-sm-12" style="margin-top:200px">
                <div class="card">
                    <div class="card-body mx-auto" align="center">
                        <h1>Teste Saipher ATC - Web API</h1>
                        <h2>Versão: <span class="badge badge-secondary">@versao</span></h2>
                        <span class="text-muted">Running...</span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>
</html>
